# Final Project
## Michael Aboukhair
### PHYS 20323 
### 12/17/2021

## Part 1:

In [26]:
## import numpy:

import numpy as np

## Physical constants:

G = 6.67 * 10**(-11) # m^3 * kg^(-1) * s^(-2)
M = 1.898 * 10**27 # mass fo planet in kilograms (kg)
R = 69911 # radius of planet in meters (m)
day = 9.950 # day on planet in hours
day_s = 9.825 # sidereal day on planet in hours

## other given periods:

t_1 = 50 # in hours
t_2 = 15 # in hours
t_3 = 5  # in hours

## define a function that gives the altitude of the satellite in meters given its period in hours:

def altitude(T = int(input("Input a time in years: "))):
    
    T_sec = T * 3600 # converting input time in hours to time in seconds
    
    return((G*M*T_sec**2/(4*(np.pi**2)))**(1/3) - R)

altitude()

Input a time in years: 1

34568325.16587962

## Part 2:

In [27]:
## altitude given a period of a day:

print(altitude(T = day))

## altitude given periods t_1, t_2, and t_3:

print(altitude(T = t_1))
print(altitude(T = t_2))
print(altitude(T = t_3))

160170170.10630843
470043281.28219223
210606838.13125575
101212905.96943842

## Part 3: