In [6]:
a = 22
while a < 10000:
    a = a*2 + a
    print(a)

66
198
594
1782
5346
16038

In [11]:
for dude in range(0,9,3):
    print(dude)

0
3
6

In [13]:
d = {'a':22, 'b':33, 'c':44}
for quack in d:
    print(quack, d[quack])

a 22
b 33
c 44

In [26]:
for value in [2, 55, 4, 5, 12, 10, 8, 9, 22]:
    if value > 10:
        print("Value is greater than 10 (" + str(value) + ")")
    elif value == 10:
        print("Value is exactly 10")
    else:
        print("Value is less than 10 (" + str(value) + ")")

Value is less than 10 (2)
Value is greater than 10 (55)
Value is less than 10 (4)
Value is less than 10 (5)
Value is greater than 10 (12)
Value is exactly 10
Value is less than 10 (8)
Value is less than 10 (9)
Value is greater than 10 (22)

In [27]:
for i in range(1,30):
    if i == 2:
        print(i)
    elif i % 2 != 0:
        prime = True
        for j in range (2,i):
            if i % j == 0:
                prime = False
        if (prime):
            print (i)

1
2
3
5
7
11
13
17
19
23
29

In [ ]:
for i in range(1,1000):
    if i == 2:
        print(i)
    elif i % 2 != 0:
        prime  = True
        for j in range (2,i):
            if i % j == 0:
                prime = False
        if (prime):
            print(i)

In [93]:
for i in range(1,300):
    if i == 2:
        print(i)
    elif i % 2 != 0:
        prime = True
        for j in range (2,i):
            if i % j == 0:
                prime = False 
            if i % j == 0:
                break
        if (prime):
            print (i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293

In [56]:
for what in range(1,10):
    if what % 2 != 0:
        break
print(what)

1

In [5]:
a = 0 
b = 1
c = 0
li = []
while  b < 100000 - a:
    c = a + b
    li.append(c)
    a = b + c
    li.append(a)
    b = c + a
    li.append(b)
print(li)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025]

AttributeError: 'list' object has no attribute 'TAB'

In [123]:
a = 0 
b = 1
c = 0
Fibonacci = []
while  b < 100000 - a:
    c = a + b
    Fibonacci.append(c)
    a = b + c
    Fibonacci.append(a)
    b = c + a
    Fibonacci.append(b)
print(Fibonacci)
for value in Fibonacci:
    if (value)**(1/2) % 1 == 0:

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025]
1
144

In [8]:
li = [1, 2, 3, 4, 5]

In [120]:
dude = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,]
for i in dude:
    if i**(1/2) % 1 == 0:
        print(i)

1
4
9
16